<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="https://twitter.com/Inquizica" class="item">Twitter</a>
          <a href="mailto:support@inquizica.com" class="item">Contact</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Must Haves</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Terms of Service</a>
          <a href="#" class="item">Privacy Policy</a>
          <div class="item">&#169; 2016 Inquizica</div>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Inquizica</h4>
        <p>Hey there! Welcome to the bottom of the page. We're glad you made it. If you still want more, please sign up or check back soon!</p>
      </div>
    </div>
  </div>
</div>
