<!-- Following Menu -->
<!-- <div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a href="/" class="active item">Home</a>
    <a href="/courses" class="item">Courses</a>
    <a href="/courses" class="item">Courses</a>
    <a href="/courses" class="item">Courses</a>
    <a class="item">About</a>
    <div class="right menu">
      {{#if user}}
        <div class="item">
          <a href="/account" class="ui button">Account</a>
        </div>
        <div class="item">
          <a href="/logout" class="ui button">Log out</a>
        </div>
      {{else}}
        <div class="item">
          <a href="/signin" class="ui button">Log in</a>
        </div>
        <div class="item">
          <a href="/signup" class="ui button">Sign Up</a>
        </div>
      {{/if}}
    </div>
  </div>
</div> -->

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a href="/" class="active item">Home</a>
  <a href="#about" class="item">About</a>
  {{#if user}}
    <a href="/account" class="item">Account</a>
    <a href="/logout" class="item">Log out</a>
  {{else}}
    <a href="/login" class="item">Log in</a>
    <a href="/signup" class="item">Signup</a>
  {{/if}}
</div>
